/* Nagyon alap CSS reset, hogy ne őrüljek meg */

* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Alap dizájn */
html, body {
    background: slategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100vh;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background: darkslategray;
    color: azure;
}
header .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
header h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed slategray;
}
header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: .3rem;
}
header nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: azure;
    padding: .3rem .7rem;
}
header nav ul li a.active {
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 50vh;
}
header nav ul li a:hover {
    background: darkcyan;
    color: white;
    border-radius: 50vh;
}
header nav ul li a.newpage::after {
    content: '';
    display: block;
    background-color: whitesmoke;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" fill="currentColor" /></svg>');
    width: 12px;
    height: 12px;
    margin-left: .3rem;
}

section {
    display: flex;
}
section .section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: stretch;
}
section .content {
    grid-column: span 3;
}
section aside {
    border-left: 1px solid darkslategray;
}

footer {
    font-size: .8rem;
    background: darkslategray;
    color: azure;
}
footer .footer { 
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
footer .by {
    background: black;
    color: white;
    font-weight: bold;
    padding: .2rem .5rem;
    border-radius: 50vh;
}

.mw-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Egyéb elemek */
.box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: azure;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
}
.box h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.modal-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.modal-wrapper.hidden {
    display: none;
}
.modal-wrapper::before {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    height: inherit;
    width: inherit;
}
.modal-wrapper .box {
    min-width: 500px;
    max-width: 800px;
    z-index: 12;
}
.modal-wrapper .box form, form.formatted-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-value {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem 2rem;
}
.form-value .label  {
    grid-column: span 2 / span 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}
.form-value .input {
    grid-column: span 3 / span 3;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.form-value .input.col {
    flex-direction: column;
}
.form-value .input.col p {
    font-size: .8rem;
}
.form-value .input input, .form-value .input select, .form-value .input textarea {
    display: block;
    border: 1px solid dimgray;
    border-radius: .3rem;
    padding: .3rem .6rem;
    width: 100%;
}
.form-value .input button {
    display: block;
    border: 1px solid black;
    background: darkslategray;
    color: white;
    border-radius: .3rem;
    padding: .3rem .6rem;
    align-self: flex-end;
}
.form-value .input input:read-only {
    background: lightgray;
    color: dimgray;
    border-color: darkgray;
}

/* AJAX feladat */
#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: darkgray;
    color: black;
    text-align: center;
    border-radius: .5rem;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 20;
    left: 50%;
    bottom: 2rem;
}

#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#toast.success, .box.success {
    background: lightgreen;
    color: darkgreen;
}
#toast.error, .box.error {
    background: lightsalmon;
    color: darkred;
}

.box.success ul, .box.error ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* LA: Kezdőlap */
.hero {
    display: block;
    position: relative;
    height: 25rem;
    overflow: hidden;
    background-color: black;
    border-radius: .5rem;
    margin: 1rem;
}
.hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
.hero .content {
    z-index: 1;
    position: relative;
    padding: 5rem;
}
.hero .content h2 {
    color: antiquewhite;
    font-size: 10rem;
    text-transform: uppercase;
}
.hero .content p {
    color: antiquewhite;
    font-size: 2rem;
}


/* reszponzív */

nav label, nav input[type='checkbox'] {
    display: none;
}

@media only screen and (max-width: 600px) {
    html, body {
        font-size: 12px;
    }
    .box, .hero {
        width: 100%;
        margin: 1rem 0;
        border-radius: 0;
        overflow-y: hidden;
    }
    .hero .content h2 {
        font-size: 5rem;
    }

    /* Hamburger menü */
    header nav ul {
        flex-direction: column;
        width: 100%;
        flex-basis: 100%;
    }
    header nav ul li {
        width: 100%;
    }
    header nav ul li a {
        padding: 1rem 1.5rem;
    }
    nav input[type='checkbox']:not(:checked)+ul {
        display: none;
    }
    nav label {
        display: flex;
        padding: 1.6rem 0;
        height: 24px;
        line-height: 24px;
        align-items: center;
        font-size: 1.1rem;
        text-transform: uppercase;
        gap: .5rem;
    }
    nav label:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 1000px) {
    section .section {
        grid-template-columns: none;
    }
    .mw-container {
        width: 100%;
        margin: 0;
    }
    section aside {
        border-top: 1px solid darkslategray;
        border-left: 0;
    }
    section .content {
        grid-column: 1 / -1;
    }
}